<%= form_tag "", class: 'copilot sign-in' do %>
  <h2><%= app_name %> CMS</h2>
  <p>Please enter your administrator credentials.</p>
  <p>
    <%= label_tag :email %>
    <%= email_field_tag :email, params[:email], placeholder: 'admin@example.com' %>
  </p>
  <p>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </p>
  <p>
    <%= submit_tag "Sign In", class: "button-primary" %>
  </p>
<% end %>
